@import '../../styles/mixins';

.pokemonPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 270px);
  padding-top: 150px;
}
.pokemonPage-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  width: 70%;
  max-width: 1100px;
  @include cardStyle;
  padding: 30px 0;
  span {
    margin-left: 12px;
    font-size: 20px;
  }
}

.pokemonPage-main-pokemonImg, .pokemonPage-main-stats, .pokemonPage-main-spels {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  flex-grow: 1;
}

.pokemonPage-main-pokemonImg {
  align-items: center;
  img {
    width: 200px;
  }
}

.title {
  border-bottom: 1px solid black;
  margin-bottom: 22px;
  text-align: center;
  padding-bottom: 25px;
  margin-right: 12px;
}
.types {
  margin-top: 30px;
}
.name {
  font-size: 30px !important;
}