.favoritePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 120px);
}
.favoritePage-noFavoriteBlock {
  background-color: rgb(230, 230, 230);
  font-size: 25px;
  padding: 30px;
  border-radius: 10px;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i {
    font-size: 80px;
    margin-left: 30px;
    color: rgb(129, 129, 129);
  }
}
.favoritePage-pokemons {
  margin-top: 100px;
  width: 70%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .favoritePage-pokemons-title {
    font-size: 30px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 14px;
    margin-bottom: 30px;
  }
}