@import 'variables';

@mixin cardStyle() {
  height: 200px;
  width: 200px;
  margin: 7px;
  border: $border;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgb(87, 87, 87);
}

@mixin clearButton() {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}