@import '../../styles/mixins';

.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 120px);
}

.mainPage-pokemons {
  margin-top: 100px;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainPage-morePokemons {
  button {
    @include clearButton;
    @include whiteButton;
    padding: 5px 20px;
    font-size: 20px;
    margin-top: 50px;
  }
}
