@import '../../styles/mixins';

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgb(87, 87, 87);
}

.header-panel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-panel-nemuLeft, .header-panel-nemuRight {
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 100%;
    font-size: 40px;
    @include clearButton;
  
    &:hover {
      cursor: pointer;
      color: rgb(71, 71, 71);
    }
  }

  .header-panel-nemuLeft {
    left: 0;
    margin-left: 80px;
  }

  .header-panel-nemuRight {
    right: 0;
    margin-right: 80px;
  }

  .header-panel-logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    .logo {
      height: 40px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 575px) {
  .logo-text {
    display: none !important;
  }
 }

.shadow {
  position: absolute;
  z-index: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.512);
}

.logo-link {
  color: black;
  text-decoration: none;
  &:hover {
    color: rgb(71, 71, 71);
  }
}
